absl-py
appnope
astor
backcall
bleach
cloudpickle
cycler
dask
decorator
defusedxml
entrypoints
gast
grpcio
h5py
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
git+https://www.github.com/keras-team/keras-contrib.git
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
music21
nbconvert
nbformat
networkx
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pydot
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
scikit-image
scipy
Send2Trash
six
tensorboard
tensorflow
termcolor
terminado
testpath
toolz
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
